/* Andika (SIL Open Font License 1.1), self-hosted: no font CDN in the children's client (AGENTS.md §9).
   Files and licence: ../fonts/andika/ (see README.md there). Used through var(--font-family-kids). */
@font-face {
    font-family: "Andika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/andika/andika-latin-400-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Andika";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/andika/andika-latin-700-normal.woff2") format("woff2");
}
